.cardsContainer{
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
    background: rgb(0,1,36);
    background: linear-gradient(180deg, rgba(0,1,36,1) 25%, rgba(7,81,151,1) 74%, rgba(63,63,142,1) 100%, rgba(13,146,245,0.9612219887955182) 100%);
}