
/* 
.detailContainer {
	position: relative;
	width: 100%;
	height: 100vh;
	display: grid;
	grid-template-columns: auto auto;
		background-color: rgba(51, 37, 37, 0.5);
    background-image: radial-gradient(circle, rgba(51, 37, 37, 0.5) 10%, rgba(51, 37, 37, 0) 80%);
}
  
.columnContent {
	color: white;
	position: relative;
	transform: translate(0%, -110%);
	width: 80%; 
	margin: 20px;
	background-color: rgba(51, 37, 37, 0.5);
    background-image: radial-gradient(circle, rgba(51, 37, 37, 0.5) 10%, rgba(51, 37, 37, 0) 80%);
	z-index: 1;
}

  
.image {
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: -1;

}

.genres{
	display: flex;
	flex-direction: row;
}

.genres h5{
	padding: 10px;
}

.detailLink {
	position: absolute;
	top: 20px;
	right: 20px;
	color: white;
}
   */


   .detailContainer {
	position: relative;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: rgba(51, 37, 37, 0.5);
	background-image: radial-gradient(
	  circle,
	  rgba(51, 37, 37, 0.5) 10%,
	  rgba(51, 37, 37, 0) 80%
	);
  }
  
  .column {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -15%);
	width: 100%;
  }
  
  .columnContent {
	color: white;
	width: 99%;
	/* margin: 20px; */
	padding-left: 10px;
	/* text-align: center; */
	background-color: rgba(51, 37, 37, 0.4);
	background-image: radial-gradient(
	  circle,
	  rgba(51, 37, 37, 0.5) 10%,
	  rgba(51, 37, 37, 0) 80%
	);
	position: relative;
	/* z-index: 1; */
  }
  
  .image {
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
	top: 0;
	left: 0;
	/* z-index: -1; */
  }
  
  .genres {
	display: flex;
	flex-direction: row;
  }
  
  .genres h5 {
	padding: 10px;
  }
  
  .detailLink {
	position: absolute;
	top: 20px;
	right: 20px;
	color: red;
	font-size: 20px;
	background-color: rgba(247, 244, 244, 0.5);

  }
  